engine-strict=false # должен быть true - надо сменить как версию ноды сменим. (игнорирует предупреждения самих пакетов по совместимости) в ci так  + у нас какие-то зависимости требуют ноду выше 20.17, а у нас  ci стоит версия 20.12.2
